@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


@font-face {
    font-family: "Nerko One";
    src: url();
}

@font-face {
    font-family: "Nerko One";
    src: url();
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}
header{

}

nav{
    display: flex;
    flex-direction: column;
    background-color: azure;
    border-radius: 5%;
}

nav a{

}


